if messages && messages.length > 0
    for msg in messages
        .card.my-3.col-12
            .card-body
                h5.card-title #{msg.author}
                h6.card-subtitle.mb-2.text-muted  #{msg.date} 
                br
                p.card-text #{msg.message}
                br

else
    p.alert.alert-info(role='alert')
        | No messages are logged to the guestbook yet.